<template>
  <div class='catalog'>
    <div class="page-header">
      <h1>The Iconic <small>catalog test</small></h1>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="input-group align-center">
          <input type="text" v-model="searchTerm" v-on:keyup.enter="search" class="form-control" placeholder="Search for..." aria-label="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" v-on:click="search">Go!</button>
          </span>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <paginate
          :page-count="pageCount"
          :click-handler="goToPage"
          :force-page="getPage()"
          :page-range="5"
          :margin-pages="0"
          :prev-text="'«'"
          :next-text="'»'"
          :container-class="'pagination'">
        </paginate>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-2 col-lg-3 sortBy">
        <select v-model="sortBy" class="form-control" placeholder="Sort by">
          <option value="popularity">Popularity</option>
          <option value="new">New Arrivals</option>
          <option value="price_high">Price High to Low</option>
          <option value="price_low">Price Low to High</option>
          <option value="brand_asc">Brand A to Z</option>
          <option value="brand_desc">Brand Z to A</option>
        </select>
      </div>
    </div>
        <ul class="catalog-list row">
          <li v-for='product in products' class="product col-sm-6 col-md-4 col-lg-3">
            <product-simple-card v-bind:product='product'></product-simple-card>
          </li>
        </ul>

    <div class="row">
      <div class="col-md-12">
        <paginate
          :page-count="pageCount"
          :click-handler="goToPage"
          :force-page="getPage()"
          :page-range="5"
          :margin-pages="0"
          :prev-text="'«'"
          :next-text="'»'"
          :container-class="'pagination'">
        </paginate>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
import ProductSimpleCard from '@/components/product/SimpleCard'

export default {
  name: 'catalog-list',
  components: { ProductSimpleCard },
  data () {
    return {
      products: [],
      pageCount: 1,
      page: 1,
      searchTerm: null,
      sortBy: null
    }
  },
  mounted () {
    this.page = this.$route.query.page || 1
    this.searchTerm = this.$route.query.q || null
    this.sortBy = this.$route.query.sort || null
    this.fetchProducts(this.$route.query)
  },
  methods: {
    getPage: function () {
      return this.page - 1
    },
    search: function () {
      let query = this.$route.query
      delete query.q
      delete query.page

      if (this.searchTerm) {
        query = _.extend({}, query, { q: this.searchTerm })
      }

      this.fetchProducts(query)
    },
    fetchProducts: function (params) {
      this.$router.push({ query: params })
      this.products = []
      this.$http.get('catalog/products', {params: params})
      .then(function (response) {
        this.products = response.body._embedded.product
        this.page = response.body.page
        this.pageCount = response.body.page_count
      }.bind(this))
    },
    goToPage (page) {
      const query = _.extend({}, this.$route.query, { page: page })
      this.fetchProducts(query)
    }
  },
  watch: {
    sortBy: function (selected) {
      const query = _.extend({}, this.$route.query, { sort: this.sortBy })

      if (!selected) {
        delete query.sort
      }

      this.fetchProducts(query)
    }
  }
}
</script>

<style lang="sass">
  $link-primary: #232323
  $white: #FFF
  $aqua: #EEE
  $grey: #EEE
  $black: #000

  h1, h2
    font-weight: normal

  ul
    list-style-type: none
    padding: 0

  a,
  a:hover,
  a:focus
    color: $link-primary
    text-decoration: none

  .catalog
    .sortBy
      float: right
      margin: 5px 0
    .pagination
      margin: 5px 0
      float: right
</style>
