<template>
  <div class="product-card">
    <a v-bind:href="getDetailUrl()">
      <figure>
          <div class="image-frame">
            <img
              v-show="isImageLoaded"
              v-bind:src="getImageUrl()"
              v-bind:alt="getImageTitle()"
              v-on:load="imageLoaded()"
              >
          </div>
        <figcaption class="quick-view">
            <span class="brand">{{ getBrand() }}</span>
            <span class="name">{{ getName() }} - {{ getGender() }}</span>
            <span class="price">
              <span v-bind:class="[hasSpecialPrice ? 'old-price' : '']">{{ getPrice() }}</span>
              <span v-bind:class="[hasSpecialPrice ? 'new-price' : '']" v-if="hasSpecialPrice">{{ getSpecialPrice() }}</span>
            </span>
        </figcaption>
      </figure>
    </a>
  </div>
</template>

<script>
export default {
  name: 'product-simple-card',
  props: {
    product: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data () {
    return {
      isImageLoaded: false
    }
  },
  computed: {
    hasSpecialPrice: function () {
      return this.getSpecialPrice() > 0
    }
  },
  methods: {
    getImageUrl: function () {
      return this.product._embedded.images[0].thumbnail
    },
    getImageTitle: function () {
      return this.getBrand() + ' - ' + this.getName() + ' - ' + this.getGender()
    },
    getName: function () {
      return this.product.name
    },
    getBrand: function () {
      return this.product._embedded.brand.name
    },
    getGender: function () {
      return this.product._embedded.gender.name
    },
    getPrice: function () {
      return this.product.price
    },
    getSpecialPrice: function () {
      return this.product.special_price
    },
    getDetailUrl: function () {
      return '#/' + this.product.sku
    },
    imageLoaded: function () {
      this.isImageLoaded = true
    }
  },
  watch: {
    product: function (newProduct) {
      this.isImageLoaded = false
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.product-card .old-price {
    text-decoration: line-through;
}
.product-card .new-price {
  color: #EF423C;
}

.product-card .brand,
.product-card .message,
.product-card .name,
.product-card .price {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    font-size: 10pt;
}

.product-card .image-frame {
  background-image: url('../../assets/loading.gif');
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  position: relative;
  overflow: hidden;
  padding-bottom: 125%;
}

.product .image-frame .img,
.product .image-frame img {
    width: 100%;
    height: auto;
    left: 50%;
    right: auto;
    top: 50%;
    bottom: auto;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    max-width: inherit;
}
</style>
