<template>
  <div class='product'>
    <div class="page-header">
      <h1>The Iconic <small> {{ name }}</small></h1>
    </div>
  </div>
</template>

<script>
export default {
  name: 'product-detail',
  data () {
    return {
      sku: null,
      name: null
    }
  },
  mounted () {
    this.sku = this.$route.params.sku
  },
  methods: {
    fetch: function (sku) {
      this.$http.get(`catalog/products/${sku}`)
      .then(function (response) {
        this.name = response.body.name
        this.price = response.body.price
        this.special_price = response.body.special_price
      }.bind(this))
    }
  },
  watch: {
    sku: function (sku) {
      this.fetch(sku)
    }
  }
}
</script>

<style lang="sass">
</style>
